{
  "COINS": {
    "BTC": {
      "price": {
        "source": "API",
        "api": "PORTICOEXCHANGE",
        "minSafePrice": 16000
      },
      "minAmount": 0.0005
    },
    "USDT": {
      "price": {
        "source": "API",
        "api": "SWAPONLINE"
      },
      "minAmount": 0.0005
    },
    "SWAP": {
      "OMNIBOLT": {
        "address": "32TLn1WLcu8LtfvweLzYUYU6ubc2YV9eZs",
        ""0.00010000"
      },
      "price": {
        "source": "FIXED",
        "price": 1
      },
      "minAmount": 1
    },
    "PAIRS":{
    "USDT-BTC": {
      "active": true,
      "buy": true,
      "sell": true,
      "type": "coin",
      "orders": [
        {
          "amount": 0.001,
          "spreadBuy": 4,
          "spreadSell": 4
        },
        {
          "amount": 0.005,
          "spreadBuy": 4,
          "spreadSell": 4
        },
        {
          "amount": 0.01,
          "spreadBuy": 5,
          "spreadSell": 5
        },
        {
          "amount": 0.05,
          "spreadBuy": 5,
          "spreadSell": 5
        },
        {
          "amount": 0.25,
          "spreadBuy": 2,
          "spreadSell": 2
        }
      ]
    }
  }
}
